.mybackground{
    background-image: url("/view/assets/fundal.jpg");
}
.login {
    padding-top: 12%;
}

.register {
    padding-top: 6%;
}

/* EXAMPLE 8 - Center Background */
.example-8 .navbar-brand {
    background: url("/view/assets/logo.png");
    width: 200px;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

/* Profile container */
.profile {
}

.pre-scrollable {
    max-height: 250px;
    max-width:200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.regiter-button {
    margin: 30px;
}

/* Profile sidebar */
.profile-sidebar {
    background: #222;
}

.profile-userpic img {
    width: 100%;
    height: 5%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 7px;

}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #080808;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    border-left: 2px;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    min-height: 460px;
}

.offcanvas {
    height: 100%;
    width: 0;
    top: 0px;
    left: 0;
    background-color: #222;
    position: fixed;
    z-index: 3;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 0px;
}

.col-big{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width:20%;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
    color: #222;
}


.hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(45px);
    -ms-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    margin:0px;
}

.hovereffect p.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: normal;
    margin: 7px;
}

.hovereffect:hover p.info {
    opacity: 1;

    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect p.info:hover {
    box-shadow: 0 0 5px #fff;
}
.dropdownm {
    background-color: #008080;
}

.gal {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

}

.gal img {
    width: 100%;
    padding: 1px 1px;
    margin: 2%;
}

@media (max-width: 500px) {
    .gal {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
}

.hoverprofile {
    position: relative;
    width: 50%;
}

.himage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.hoverprofile:hover .himage {
    opacity: 0.3;
}

.hoverprofile:hover .middle {
    opacity: 1;
}

.textprofile {
    color: white;
    font-size: 13px;
}

.homebutt{
    background-color: #333;
    color: #fff;
}

.picture-right{
    padding-right: 1.2cm;
}

.panel-fix{
    width: 15cm;
    height: 15cm;
}
