<navBar></navBar>

<div class="container  col-md-4 col-md-offset-4">
    <div class="row thumbnail">
        <h1>Create New Contest</h1>

        <div class="form-group">
            <label for="contestName">Contest Name</label>
            <input class="form-control" type="text" name="contestName" id="contestName" ng-model="contest.name"/>
        </div>
        <div class="form-group">
            <label for="contestDescription">Contest Description </label>
            <input class="form-control" type="text" name="contestDescription" id="contestDescription"
                   ng-model="contest.description"/>
        </div>
        <div class="form-group">
            <label for="contestDeadline">Contest Deadline </label>
            <input class="form-control" type="date" name="contestDeadline" id="contestdeadline"
                   ng-model="contest.deadline"/>
        </div>
        <div class="form-actions ng-hide" ng-show="contestUploadedOk">
            <br>Photo:
            <input id="image" type="file" ngf-select ng-model="picFile" name="file"
                   accept="image/*" ngf-max-size="2MB" required
                   ngf-model-invalid="errorFile">
            <i ng-show="myForm.file.$error.required">*required</i><br>
            <i ng-show="myForm.file.$error.maxSize">File too large
                {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
            <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="img-thumbnail img-responsive">
            <button ng-click="picFile = null" ng-show="picFile">Remove</button>
            <br>
            <button ng-click="uploadPic(picFile)">Submit</button>
            <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%"
             ng-bind="picFile.progress + '%'"></div>
      </span>
            <span ng-show="picFile.result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </div>
        <br>

        <div class="form-actions">
            <button type="submit" class="btn btn-success" ng-click="createContest()">Create Contest</button>
        </div>
    </div>
</div>