<navBar></navBar>

<div class="container">
    <div class="col-md-12">
        <div class="row">
            <hr>

            <div class="gal">
                <div class="hovereffect hovereffect-white" ng-repeat="contest in contests" ng-click="goToContestPage(contest.id)">
                    <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="" >
                    <!--{{contest.name}}-->
                    <div class="overlay">


                        <p>Name<br>
                            Description:

                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


