<title>Home</title>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PhotoShare</a>
        </div>
        <ul class="nav navbar-nav">
        </ul>
        <form class="navbar-form navbar-left">
            <div class="form-group">
                <input  type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
        </ul>
    </div>
</nav>


<div id="myOffcanvas" class="offcanvas" style="width: 250px;">
    <div class="profile-userpic">
        <img src="https://i.pinimg.com/736x/12/d3/97/12d39756f8fad3a2c4155dfdc4d51a6f--fashion-outfits-casual-outfits.jpg"
             class="img-responsive" alt="">
    </div>
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">
            Maria
        </div>
        <div class="profile-usertitle-job">
            Ranking
        </div>
    </div>
    <div class="profile-usermenu">
        <ul class="nav">
            <li class="active">
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-user"></i>
                    Profile </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="glyphicon glyphicon-ok"></i>
                    Contests </a>
            </li>
        </ul>
    </div>
</div>

<div class="thumb">
    <div class="col-sm-6 col-md-4" >
        <div class="thumbnail">
            <h4>
                Contest1
            </h4>
            <h6>Descriere concurs</h6>
            <a href="http://bootsnipp.com/snippets/featured/post-thumbnail-list" class="btn btn-default col-xs-12" role="button">Join</a>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="thumb1">
        <div class="col-sm-6 col-md-7" >
            <div class="thumbnail">
                <h4>
                    Contest1
                </h4>
                <h6>Descriere concurs</h6>
                <a href="http://bootsnipp.com/snippets/featured/post-thumbnail-list" class="btn btn-default col-xs-12" role="button">Join</a>
                <div class="clearfix"></div>
            </div>
        </div>