<nav class="navbar navbar-inverse example-8">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
        </ul>
        <a class="navbar-brand"></a>


        <div class="profile-userpic col-sm-1">
            <div class="hovereffect hovereffect-black">
                <img ng-src="{{userLogoUrl}}"
                     class="img-circle" alt="">
                <div class="overlay">
                    <p>
                        <small>Update profile</small>
                    </p>
                </div>
            </div>
            <div class="profile-usertitle-name">
                {{name}}
            </div>
        </div>

        <div class="profile-usermenu">
            <div class="nav col-sm-2">
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="glyphicon glyphicon-ok-circle"></i>
                        My Contests
                    </button>
                    <div class="dropdown-menu dropdownm" aria-labelledby="dropdownMenuButton">
                        <div ng-repeat="myContest in myContests"
                             ng-click="goToContestPage(myContest.id)">
                            <div class="hovereffect hovereffect-black">
                                <img class="img-responsive" ng-src="{{myContest.logoPath}}">

                                <div class="overlay">
                                    <p>{{myContest.name}} <br>
                                        <small> Deadline: {{myContest.deadline}}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="nav navbar-nav navbar-right">
            <a class="btn btn-link" href="#"><span class=" btn-link glyphicon glyphicon-log-in"></span> Log out</a>
        </div>
    </div>
</nav>
