<div class="navbar navbar-inverse example-8">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
        </ul>
        <a class="navbar-brand" href="/#!/home"></a>


        <div class="profile-userpic col-sm-2">
            <div class="hoverprofile">
                <img ng-src="{{userLogoUrl}}"
                     class="img img-responsive himage" alt="">
                <div class="middle">
                    <i class="textprofile btn-link" data-toggle="modal" data-target="#userLogoUploadModal">
                        Update
                    </i>
                </div>
            </div>
        </div>
        <div class="profile-usermenu">
            <div class="nav col-sm-3">
                <div class="dropdown rel">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="glyphicon glyphicon-ok-circle"></i>
                        My Contests
                    </button>
                    <div class="dropdown-menu dropdownm pre-scrollable"
                         aria-labelledby="dropdownMenuButton">
                        <div ng-repeat="myContest in myContests"
                             ng-click="goToContestPage(myContest.id)">
                            <div class="hovereffect hovereffect-black">
                                <img class="img-responsive img-thumbnail" ng-src="{{myContest.logoPath}}">
                                <div class="overlay">
                                    <p>{{myContest.name}} <br>
                                        <small> Deadline: {{myContest.deadline}}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="nav navbar-nav navbar-right">
            <a class="btn btn-link" ng-click="logout()"><span class=" btn-link glyphicon glyphicon-log-in"></span> Log
                out</a>
        </div>
    </div>
</div>


<div class="modal fade" id="userLogoUploadModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Profile Picture</h4>
            </div>
            <div class="modal-body">
                <div class="form-actions">
                    <form name="myForm">
                        <br>Photo:
                        <input id="image" type="file" ngf-select ng-model="logo" name="file"
                               accept="image/*" ngf-max-size="1MB" required
                               ngf-model-invalid="errorFile">
                        <i ng-show="myForm.file.$error.required">*required</i><br>
                        <i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB:
                            max 1M</i>
                        <img ng-show="myForm.file.$valid" ngf-thumbnail="logo" class="img-thumbnail img-responsive">
                        <button ng-click="logo = null" ng-show="logo">Remove</button>
                        <br>
                        <span ng-show="logo.result">Upload Successful</span>
                        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                    </form>
                </div>
                <br>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="!myForm.file.$valid"
                        ng-click="uploadLogo(logo)">Upload
                </button>
            </div>
        </div>

    </div>
</div>


</nav>
</div>