<div id="myOffcanvas" class="offcanvas" style="width: 250px;">
    <div class="profile-userpic">
        <img ng-src="{{userLogoUrl}}"
             class="img-responsive" alt="">
    </div>
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">
            <p>{{name}}</p>
        </div>
        <div class="profile-usertitle-job">
            {{ranking}}
        </div>
    </div>
    <div class="profile-usermenu">
        <ul class="nav">
            <li class="active">
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-user"></i>
                    Profile </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="glyphicon glyphicon-ok-circle"></i>
                    Contests </a>
            </li>
        </ul>
    </div>

    <div class="container-fluid">
        <div class="panel" ng-repeat="contest in contests" ngClick="$scope.goToContestPage({{contest.id}})">
            <div class="panel-header text-center ">
                <img class="img-responsive img-thumbnail" ng-src="{{contest.logoPath}}">
                <p>{{contest.name}}</p>
            </div>
        </div>
    </div>
</div>